.publish .styledformelement {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
	padding: 3px 5px;
	width: 758px; /* 100% will break the vertical lines */
	}

.splitter input#quick_link, .splitter input#userfile, .splitter input#opml_file {
	width: 758px;
	}

.splitter input#quick_link {
	background: #fff url(feed.png) no-repeat 728px center;
	}

.publish .islabeled {
	text-transform: lowercase;
	color: #aeaeae;
	}

.publish .styledformelement {
	font-size: 1.7em;
	}

.publish .styledformelement:focus {
	color: #222;
	}

.publish #description {
	padding: 5px;
	height: 150px;
	font-size: 14px;
	}
.splitter p {
	color:#8a8a8a;
	}
#extras_settings .container, #tags_settings .container {
	background:transparent none repeat scroll 0% 0%;
	overflow:visible;
	padding:0px;
}